.nav-Now {
	margin-left: 0;
	padding: 0 5px;
	background: #000;
	color: #fff;
}
/* 通用样式 */

/* -------------------------Container------------------------- */
#Container {
	margin: 0 auto;
	padding: 20px 0;
	width: 1000px;
}

#Container #CourseNav {
	border: 2px solid #bfbfbf;
}

#Container #CourseNav .Nav-head {
	padding-left: 30px;
	height: 55px;
	line-height: 55px;
	text-align: left;
	background: #14598c;
	color: #fff;
}

#Container #CourseNav .Nav-line {
	overflow: hidden;
	margin: 0 7px;
	padding-bottom: 20px;
}

#Container #CourseNav #TechnoLogy {
	border-bottom: 1px solid #edf1f2;
}

#Container #CourseNav #ClassIfy {
	border-bottom: 1px solid #edf1f2;
}

#Container #CourseNav span {
	float: left;
	margin: 20px 0 0 20px;
}

#Container #CourseNav #Nodus {
}

/*#Container #CourseNav input {
	border: none;
	background: #fff;
}*/

#Container #CourseNav ul {
	margin-left: 85px;
}

#CourseNav ul li {
	cursor: pointer;
	float: left;
	margin: 20px 10px 0 35px;
	padding: 0 5px;
}

/* #CourseNav ul li:first-child {
	margin-left: 0;
	padding: 0 5px;
	background: #000;
	color: #fff;
} */

/*分页按钮*/
#contentPage {
	margin-top: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #e7f1fa;
}

#contentPage a {
	display: inline-block;
	padding: 0 10px;
	border-radius: 4px;
	height: 30px;
	background: #478dcd;
	color: #fff;
}

#contentPage #pageBtn {
	display: inline-block;
	margin: 0 30px;
	vertical-align: middle;
}

#contentPage #pageBtn li {
	float: left;
	cursor: pointer;
	margin: 0 20px;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background: #bcb7bf;
}

#contentPage #pageBtn li:hover,
#contentPage #pageBtn li:first-child {
	background: #999;
}
/*End 分页按钮*/
/* -------------------------End Container------------------------- */