h1 {
	margin-bottom: 5px;
	font-size: 29px;
	font-weight: normal;
}

h2 {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: normal;
	color: #838383;
}

h3 {
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
}

/* 全局属性 */

/* -------------------------Container------------------------- */
#Container {}

/* banner轮播图 */
#Container #banner {
	position: relative;
	margin: 0 auto;
	width: 948px;
}

#Container .banner-wrap {
	height: 580px;
	background: url(../images/banner_bg.png) no-repeat center;
}

#Container #banner #bannerBox {
	overflow: hidden;
	height: 459px;
}

#Container #banner #circle {
	margin: 0 auto;
	width: 135px;
}

#banner #circle li:first-child {
	background: #fff;
}

#banner #circle li {
	float: left;
	cursor: pointer;
	border: 1px solid #747474;
	border-radius: 50%;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	background: #747474;
}

#Container #banner #bannerBtn {
	position: absolute;
	top: 50%;
	width: 100%;
}

#Container #bannerBtn .btn-l {
	cursor: pointer;
	float: left;
	padding: 10px 0;
}

#Container #bannerBtn .btn-r {
	cursor: pointer;
	float: right;
	padding: 10px 0;
}

#Container #bannerBtn .btn-l:hover,
#Container #bannerBtn .btn-r:hover {
	background: #000;
	opacity: 0.63;
	border-radius: 4px;
	padding: 10px 0;
}
/* End banner轮播图 */

/* 技术方向模块 */
#Container .technical {
	overflow: hidden;
	margin: 20px auto 0;
	padding: 10px 0;
	width: 888px;
	height: 280px;
	text-align: center;
}

#Container .technical img {
	width: 100%;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	-webkit-transition: width 0.2s, box-shadow 0.2s;
	-o-transition: width 0.2s, box-shadow 0.2s;
	transition: width 0.2s, box-shadow 0.2s;
}

#Container .technical img:hover {
	width: 102%;
	box-shadow: 0px 2px 7px 3px #A196A0;
}

#Container .technical .thc-left {
	float: left;
	margin-left: 5px;
}

#Container .technical .thc-right {
	float: left;
}

#Container .technical .thc-center {
	float: left;
	margin: 0 10px;
	width: 460px;
}

.thc-center ul li {
	float: left;
	margin-right: 7.5px;
	height: 80px;
}

#Container .thc-center li:last-child {
	margin-left: 4px;
}

.thc-center ul li.top {
	margin-bottom: 9px
}

.thc-center ul li.last {
	margin-right: 0;
	margin-left: 2px;
}
/* End 技术方向模块 */

/* 我该怎么学模块 */
#Container .learning-wrap {
	background: #bdc1c4;
}

#Container .learning {
	overflow: hidden;
	margin: 20px auto 0;
	padding: 40px 0;
	width: 872px;
	text-align: center;
}

#Container .learning ul {
	margin-top: 30px;
}

.learning ul li {
	overflow: hidden;
}

.learning li:nth-child(2) div {
	float: left;
	text-align: right;
}

.learning li div {
	float: right;
	width: 594px;
	text-align: left;
}

.learning div a {
	color: #5bc4d0;
}

.learning div p {
	margin-top: 10px;
	font-size: 12px;
}
/* End 我该怎么学模块 */


/* 手风琴特效模块 */
#Container .teacher-msg {
	margin: 20px auto 0;
	padding: 40px 0;
	width: 938px;
	text-align: center;
}

#Container .teacher-msg .teacher-content {
	overflow: hidden;
	background: #000;
}

#Container .teacher-msg ul {
	float: left;
	height: 290px;
	background: #000;
}

.teacher-msg ul li {
	float: right;
	overflow: hidden;
	margin-left: 10px;
	padding: 25px 0;
	width: 120px;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
}

.teacher-msg ul:hover li {
	width: 50px;
}

.teacher-msg ul li:first-child {}

.teacher-msg ul li:hover {
	width: 558px;
}

.teacher-msg li .teacher-wrap {
	width: 558px;
	height: 240px;
}

li .teacher-wrap div {
	float: right;
	padding-left: 6px;
	width: 350px;
	height: 240px;
	text-align: left;
	background: #fff;
}

.teacher-msg div .msg-head {
	font-size: 15px;
}

.teacher-msg div span {
	font-size: 19px;
}

.teacher-msg div .msg-exper {
	font-size: 12px;
	margin: 15px 0;
}
/* End 手风琴特效模块 */


/* 走马灯模块 */
#Container .student-works {
	margin: 0 auto 20px;
	width: 950px;
	text-align: center;
}

#Container .student-works .works-wrap {
	position: relative;
	overflow: hidden;
	width: 950px;
	height: 300px;
}

.student-works #worksWindow {
	position: absolute;
	width: 1900px;
	height: 300px;
}

#Container .works-wrap ul {
	float: left;
	overflow: hidden;
	width: 950px;
	background: #bcbfc0;
}

.student-works ul li {
	float: left;
	margin-right: 5px;
	padding: 20px 12px;
	width: 160px;
	height: 260px;
	text-align: left;
	-webkit-transition: width 0.2s, height 0.2s;
	-o-transition: width 0.2s, height 0.2s;
	transition: width 0.2s, height 0.2s;
}

.student-works ul li:hover {
	width: 165px;
	height: 255px;
	-webkit-box-shadow: 6px 6px 8px 0px #423c3c;
	box-shadow: 6px 6px 8px 0px #423c3c;
	background: #c6c8c9;
}

.student-works li img {
	margin-bottom: 10px;
}
/* End 走马灯模块 */
/* -------------------------End Container------------------------- */