
body {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
}

h1 {
	text-align: center;
}

#container {
	border: 1px solid #000;
	margin: 0 auto;
	padding: 20px;
	width: 1000px;
}

#content li {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 10px;
}

#turnBtn {
	overflow: hidden;
	margin: 0 auto;
	width: 300px;
}

#turnBtn li {
	float: left;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	background: #14598c;
	color: #fff;
}

#turnBtn li.Now {
	background: #0093ff;
}

ul li {
	list-style: none;
}

#content li div {
	margin: 0 auto;
	width: 400px;
	text-align: right;
}

#content li input[type="button"] {
	margin-right: 50px;
}
