
/*----------------------PageBody---------------------- */
#PageBody .sidebarNav,
#PageBody .MainBody {
	padding-bottom: 15px;
	border-radius: 4px 4px 0 0;
	background: url(../img/bg.png) repeat-x 0 -400px;
}

#PageBody .sidebarNav {
	float: left;
	width: 200px;
	margin-right: 10px;
}

#PageBody .MainBody {
	float: left;
	width: 770px;
}
/*----------------------End PageBody---------------------- */